<header>
	<h1>{{ page.title }}</h1>
	{% if page.tagline %}
	<h2>{{ page.tagline }}</h2>
	{% endif %}
	
	<a href="http://chip.org/" target="_blank" title="Children's Hospital Informatics Program">
		<img src="images/chip.png" alt="" style="width: 32px; height: 34px;" />
	</a>
	<a href="http://childrenshospital.org/" target="_blank" title="Boston Children's Hospital">
		<img src="images/childrens.png" alt="" />
	</a>
</header>

{% if page.appstore || page.github %}
<section id="downloads" class="clearfix">
	{% if page.appstore %}
	<a href="{{ page.appstore }}" id="view-on-appstore" class="button"><span>Download .tar.gz</span></a>
	{% endif %}
	{% if page.github %}
	<a href="{{ page.github }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	{% endif %}
</section>
{% endif %}

<hr />

<section id="main_content">{{ content }}</section>

<footer>
Pediatric Growth Charts is maintained by <a href="https://github.com/p2">p2</a>
</footer>
